@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --dark-bg: #242333;
  --middle-bg: #201f2e;
  --na-color: #444451;
  --selected-color: ##6feaf6;
  --occupied-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-bg);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seat */
.seat {
  width: 17px;
  height: 15px;
  background-color: var(--na-color);
  margin: 0.2rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.seat.selected {
  background-color: var(--selected-color);
}

.seat.occupied {
  background-color: var(--occupied-color);
}

/* Movie Selector */

.movie-selector {
  margin: 2rem 0;
  font-size: 1rem;
}

.movie-selector select {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 5px 15px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Seat Container */
.seat-container .row {
  display: flex;
}
